@media screen and (min-width: 100px) and (max-width:767.9px){
    body{
        width: 100vw;
        background-image: url(../images/1016430.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: fantasy;
        background-color: #0a1644;
        z-index: -2;
    }
    #navbar{
        display: none;
    }

    #navbar-small{
        color: black;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 4vw;
        margin-bottom: 10vh;
        text-align: right;
        position: relative;
        list-style: none;
        margin-top: -20vh;
        z-index: 2;
    }
    #navbar-small h1{
        color: #07d1e3;
        font-size: 3rem;
        margin-bottom: 1vh;
    }
    #navbar-small ul li{
        background-color: black;
        text-align: center;
        font-size: 1.5rem;
        margin-right:-2vw;
        height: 5vh;
        list-style: none;
        width: 48vw;
    }
    #nav-bar img{
        height: 15vh;
        position: relative;
        left: -10vw;
    }
    header{
        background-color: black;
        height: 17vh;
    }
    .opacity{
        background-color: #0a1644;
        opacity: 50%;
        height: 105vh;
        width: 105vw;
        position: fixed;
        top: -1vh;
        left: -2vw;
        z-index: -1;
    }
    a:link, a:visited{
        color: #07d1e3;
        text-decoration: none;
    }
    footer{
        margin-top: 5vh;
        background-color: black;
        height: 10vh;
        color: #07d1e3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    #navbar{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:1199px){
body{
    width: 100vw;
    background-image: url(../images/1016430.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: fantasy;
    background-color: #0a1644;
    z-index: -2;
}
#navbar{
    display: none;
}
#navbar-small{
    color: black;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4vw;
    margin-bottom: 10vh;
    position: relative;
    text-align: right;
    list-style: none;
    top: -16vh;
}
#navbar-small h1{
    color: #07d1e3;
    font-size: 3rem;
}
#navbar-small ul li{
    background-color: black;
    text-align: center;
    font-size: 2rem;
    margin-right:-3vw;
    height: 5vh;
    list-style: none;
    width: 30vw;
}
a:link, a:visited{
    color: #07d1e3;
    text-decoration: none;
}
.opacity{
    background-color: #0a1644;
    opacity: 50%;
    height: 105vh;
    width: 105vw;
    position: fixed;
    top: -1vh;
    left: -2vw;
    z-index: -1;
}
#navbar{
    display: none;
}
#nav-bar img{
    height: 15vh;
    position: relative;
    left: -5vw;
}

header{
    background-color: black;
    height: 17vh;
}
footer{
    margin-top: 5vh;
    background-color: black;
    height: 10vh;
    color: #07d1e3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
}
@media screen and (min-width: 1200px){
    a:link, a:visited{
        color: #07d1e3;
        text-decoration: none;
    } 
    body{
        width: 100vw;
        background-image: url(../images/1016430.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: fantasy;
        background-color: #0a1644;
        z-index: -2;
    }
    ul li{
            list-style: none;
            text-decoration: none;
            float: left;
            margin-left: 3vw;
            color: #07d1e3;
            font-size: 1.5rem;
    }

    #navbar{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        left: -8vw;
        top: -10vh;
    }
    nav img{
        height: 15vh;
    }

    #navbar-small{
        display: none;
    }

    header{
        background-color: black;
        height: 17vh;
    }
    footer{
        background-color: black;
        height: 10vh;
        margin-top: 5vh;
        color: #07d1e3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    .opacity{
        background-color: #0a1644;
        opacity: 50%;
        height: 105vh;
        width: 105vw;
        position: fixed;
        top: -1vh;
        left: -2vw;
        z-index: -1;
    }
}