* {margin: 0; 
    padding: 0;}
@media screen and (max-width: 767.9px) {


    #bigscreen {
        display: none;
      
    }
    
}
.mobile_logo{
    width: 150px;
    margin-left: -15px;
}

body{
    background-image: url("../images/mobile_achtergrond.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #07d1e3;
    
    
}
.item-ham{
    color: #07d1e3;
    margin-left: 50vw;
}

.container{ 
    width: 50vw;
    margin-top: -30VW;
    margin-left: 3VW;
    
}


 input[type=text], select, textarea {
    width: 50%; 
    padding: 10px; 
    border: 1px solid #07d1e3; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background: rgba(10,22,67,0.5);
    color: white;
  }
  
 
  input[type=submit] {
    background-color: #07d1e3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #07d1e3;
  }

  #Slides2{
    display: flex;
    align-items:flex-end;
    flex-direction: row-reverse;
    z-index: -1;
    margin-right: 5VW;
    margin-top: 5VW;
    
}

  

  

@media screen and (min-width: 768px) and (max-width:1199px){

#Slides2
     {
    margin-top: 10vh;   

    }
    .container{
        margin-top: -12vh;
    }


}


      /* start bigscreen */ 
   @media screen and (min-width: 1200px) {
    
    #mobile{
        display: none;
    }
   }    
