@media screen and (min-width: 1200px){

#Slides2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#Slides2 img{
    width: 20vw;
    height: 20vw;
}

#Opens{
    display: flex;
    align-items: center;
    justify-content: center;
}

#esport{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

#esport img{
    margin-left: 5vw;
}

#esport p{
    width: 60%;
    text-align: center;
    margin-left: 6vw;
}

#kort1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

#kort1 img{
    margin-left: 5vw;
}

#kort1 p{
    width: 20vw;
    text-align: center;
    margin-left: 10vw;
}

#kort2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

#kort2 img{
    margin-left: 5vw;
}

#kort2 p{
    width: 20vw;
    text-align: center;
    margin-left: 10vw;
}
}

@media screen and (min-width: 100px) and (max-width:767.9px){
body{
    font-size: large;
    margin: 0;
    padding: 0;
    color: white;
}

#Slides2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Slides2 img{
    width: 80vw;
    height: 80vw;
}

#Opens{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Opens p{
    width: 50vw;
    text-align: center;
}

#esport{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
}

#esport img{
    margin-left: 5vw;
}

#esport p{
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

#kort1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vw;
}

#kort1 img{
    margin-left: 8vw;
    width: 80vw;
    height: 50vw;
}

#kort1 p{
    width: 70%;
    text-align: center;
    margin-left: 15vw;
}

#kort2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
}

#kort2 img{
    margin-left: 8vw;
    width: 80vw;
    height: 50vw;
}

#kort2 p{
    width: 70%;
    text-align: center;
    margin-left: 15vw;
}

}

@media screen and (min-width: 768px) and (max-width:1199px){
body{
    font-size: large;
    margin: 0;
    padding: 0;
    color: white;
}

#Slides2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Slides2 img{
    width: 40vw;
    height: 40vw;
}

#Opens{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Opens p{
    width: 50vw;
    text-align: center;
}

#esport{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
}

#esport img{
    margin-left: 15vw;
}

#esport p{
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

#kort1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vw;
}

#kort1 img{
    margin-left: 20vw;
    width: 60vw;
    height: 30vw;
}

#kort1 p{
    width: 70%;
    text-align: center;
    margin-left: 15vw;
}

#kort2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
}

#kort2 img{
    margin-left: 20vw;
    width: 60vw;
    height: 30vw;
}

#kort2 p{
    width: 70%;
    text-align: center;
    margin-left: 15vw;
}
}
