
@media screen and (min-width: 100px) and (max-width:767.9px){
    body{
        margin: 0;
        padding: 0;
    }
    #aanbieding{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
    }
    #aanbieding h1{
        color: #07d1e3;
        justify-content: center;
    }
    #banner{
        margin-top: 5vh;
        margin-bottom: 5hv;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #banner img{
        width: 100vw;
        z-index: 1;
    }
    #original{
        margin-top: 5vh;
        display: flex;
        width: 70vw;
        flex-direction: column;
        margin-left: 15vw; 
    }
    .titel{
        color: #07d1e3;
        font-size: 2rem;
        text-align: center;
    }
    .container{
        top: 10vh;
        text-align: center;
        color: white;
    }

    #blueberry{
        margin-top: 5vh;
        display: flex;
        width: 70vw;
        flex-direction: column;
        margin-left: 15vw; 
    }
    #citroen{
        margin-top: 5vh;
        display: flex;
        width: 70vw;
        flex-direction: column;
        margin-left: 15vw; 
    }
    #aardbei{
        margin-top: 5vh;
        display: flex;
        width: 70vw;
        flex-direction: column;
        margin-left: 15vw; 
    }

}

@media screen and (min-width: 768px) and (max-width:1199px){
    body{
        margin: 0;
        padding: 0;
    }
    #banner{
        margin-top: 5vh;
        margin-bottom: 5hv;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #aanbieding{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
    }
    #aanbieding h1{
        color: #07d1e3;
        justify-content: center;
    }
    #original{
        margin-top: 5vh;
        display: flex;
        width: 90vw;
        flex-direction: row;
        margin-left: 5vw; 
    }
    .titel{
        color: #07d1e3;
        font-size: 2rem;
        text-align: center;
    }
    .container{
        text-align: center;
        color: white;
    }
    #blueberry{
        display: flex;
        width: 90vw;
        flex-direction: row;
        margin-left: 5vw;
        margin-top: 5vh;
    }
    #citroen{
        display: flex;
        width: 90vw;
        flex-direction: row;
        margin-left: 5vw;
        margin-top: 5vh;
    }
    #aardbei{
        display: flex;
        width: 90vw;
        flex-direction: row;
        margin-left: 5vw;
        margin-top: 5vh;
    }

}

@media screen and (min-width: 1200px){
    body{
        margin: 0;
        padding: 0;
    }
    #aanbieding{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
    }
    #aanbieding h1{
        color: #07d1e3;
        justify-content: center;
    }
    #banner{
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #original{
        margin-top: 5vh;
        display: flex;
        width: 70vw;
        flex-direction: row;
        margin-left: 15vw;
        color: white;
    }
    .titel{
        color: #07d1e3;
        font-size: 2rem;
        text-align: center;
    }
    .container{
        text-align: center;
        margin: 5vw;
        margin-top: -1vh;
    }
    #blueberry{
        display: flex;
        width: 70vw;
        flex-direction: row;
        margin-left: 15vw;
        color: white;
        margin-top: 5vh;
    }
    #citroen{
        display: flex;
        width: 70vw;
        flex-direction: row;
        margin-left: 15vw;
        color: white;
        margin-top: 5vh;
    }
    #aardbei{
        display: flex;
        width: 70vw;
        flex-direction: row;            
        margin-left: 15vw;
        color: white;
        margin-top: 5vh;
    }
    .Foto1{
        background: rgba(0, 0, 0, 0, 0.7);
    }
    }
