* {margin: 0; 
    padding: 0;}
@media screen and (max-width: 1023.9px) {


    #bigscreen {
        display: none;
      
    }

    #bigscreen {
        display: none;
      
    }
}

      /* start bigscreen */ 
   @media screen and (min-width: 1024px) {
    
    #mobile{
        display: none;
    }
   }